<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>


<div class="generic-container">
  <div class="panel panel-default">
    <div class="panel-heading"><span class="lead">User Registration Form </span></div>
    <div class="formcontainer">
      <form  #myForm="ngForm" (submit) = "submit(); myForm.reset()" class="form-horizontal">
        <input type="hidden" [(ngModel)] = "user.id" name="id"/>
        <div class="row">
          <div class="form-group col-md-12">
            <label class="col-md-2 control-lable" for="uname">Name</label>
            <div class="col-md-7">
              <input type="text" [(ngModel)] = "user.name" name="name" id="uname" class="username form-control input-sm" placeholder="Enter your name" required minlength="3"/>
              <!--<div class="has-error" *ngIf="name.dirty">-->
                <!--<span *ngIf="name.errors.required">This is a required field</span>-->
                <!--<span *ngIf="name.errors.minlength">Minimum length required is 3</span>-->
                <!--<span *ngIf="name.valid">This field is invalid </span>-->
              <!--</div>-->
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-12">
            <label class="col-md-2 control-lable" for="age">Age</label>
            <div class="col-md-7">
              <input type="number" [(ngModel)] ="user.age" name="age" id="age" class="form-control input-sm" placeholder="Enter your Age"/>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-12">
            <label class="col-md-2 control-lable" for="salary">Salary</label>
            <div class="col-md-7">
              <input type="number" [(ngModel)] ="user.salary" name="salary" id="salary" class="form-control input-sm" placeholder="Enter your Salary" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" required/>
              <!--<div class="has-error" *ngIf="salary.dirty">-->
                <!--<span *ngIf="salary.errors.required">This is a required field</span>-->
                <!--<span *ngIf="salary.invalid">This field is invalid </span>-->
              <!--</div>-->
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-actions floatRight">
            <input type="submit"  value="{{!user.id ? 'Add' : 'Update'}}" class="btn btn-primary btn-sm" [disabled]="!myForm.valid">
            <button type="button" (click)="reset();myForm.reset()" class="btn btn-warning btn-sm" [disabled] = "myForm.pristine">Reset Form</button>
          </div>
        </div>
      </form>
    </div>
  </div>



  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><span class="lead">List of Users </span></div>
    <div class="tablecontainer">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>ID.</th>
          <th>Name</th>
          <th>Age</th>
          <th>Salary</th>
          <th width="100">
        </tr>
        </thead>
        <tbody>
        <tr *ngFor = "let u of users">
          <td><span [innerHtml]="u.id"></span></td>
          <td><span [innerHtml]="u.name"></span></td>
          <td><span [innerHtml]="u.age"></span></td>
          <td><span [innerHtml]="u.salary"></span></td>
          <td>
            <button type="button" (click)="edit(u.id)" class="btn btn-success custom-width">Edit</button>  <button type="button" (click) ="remove(u.id)" class="btn btn-danger custom-width">Remove</button>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
